<ng-container *ngLet="healthState$ | async as healthState">
    <ion-card>
        <ion-card-header>
            <ion-card-title>
                {{'app.health' | translate}}
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-button expand="block" *ngIf="!healthState?.hasSymptom" (click)="showButtons(healthState)" class="warn">{{'healthstate.warn' | translate}}</ion-button>
            <ion-button expand="block" *ngIf="healthState?.hasSymptom" (click)="healed()" class="warn">{{'healthstate.buttons.healed' | translate}}</ion-button>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-title>
                Alertes
            </ion-card-title>
        </ion-card-header>
        <ion-card-content *ngIf="healthState?.message">
            {{healthState?.message}}
        </ion-card-content>
    </ion-card>
</ng-container>
